html{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

header {
    height: 50px;
    background-color: burlywood;
    border: darkblue;
    border: 5px;
    text-align: center;
    font-display: absolute;
    padding-top: 10px;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.align-content-stretch-md {
    align-content: stretch
}
