/* Universal styles and variables */
* {
    font-family: Garamond , Arial, Helvetica, sans-serif;
    --bg-color: #428f89;
    --fg-color: #97282c;
    --shade-color: #3b393a;
    --card-color: grey;
    --text-color: #1a1a1a;
    --accent-color: #484848;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Styles for alignment and main sections */
div {
    display: block;
}

body {
    min-height: 50vh;
    margin: 0;
    padding: 0;
}

/* Styles for the header */
header {
    height: 100px;
    background-color: var(--fg-color);
    text-align: center;
    padding-top: 5px;
}

h1 {
    font-size: 2.25rem;
    margin: 0 0 0.5 0rem;
    line-height: 1.25;
    padding-top: none
}

/* Styles for the search sidebar */
.search-bar {
    flex: 0 0 25%;
    background-color: var(--bg-color);
    display: block;
    margin-right: 2%;
    padding-bottom: 66%;
    box-shadow: 0px 5px 15px var(--shade-color)
}

.sidebar-container {
    display: flex;
}

.search-bar h2 {
    text-align: center;
    color: var(--accent-color);
    font-size: 0.8cm;
}

.search-bar form {
    justify-content: center;
    width: 100%;
}

.form-input {
    width: 90%;
    padding: 0.75rem;
    color: var(--text-color);
    margin: 0.625rem 5%;
    font-size: 1.2rem;
    border: 1px solid var(--accent-color);
    border-radius: 20px;
    box-shadow: 2px 2px 15px var(--shade-color)
}

.btn{
    width: 60%;
    display: block;
    text-align: center;
    padding: 00.75rem;
    margin: 00.625rem 20%;
    background-color: var(--fg-color);
    border-radius: 20px;
    font-style: bold;
    font-size: 1.2rem;
    box-shadow: 5px 5px 15px var(--shade-color)
}

/* Styles for the results and detail cards */
.result-container {
    display: flex;
}

.result-card {
    font-size: 20px;
    margin-left: 5%;
    border: 2px solid;
    background-color: var(--card-color);
}

.details-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid;
    background-color: var(--card-color);
}

#poster-img {
    margin-right: 10px;
}

/* Alignment and semantic element styles */
.align-content-stretch-md {
    align-content: stretch;
  }

  .align-stretch-md {
    align-items: stretch;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .bg-primary {
    background-color: var(--bg-color) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .main-bgimg {
      background-image: url(../background-img/bckimg1.jpg);
  }

  .result-bgimg{
      background-image: url(../background-img/bckimg2.jpg);
  }

  .min-100-vh {
    min-height: 100vh;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

[class*='col-'] {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.mb-2 {
    align-content: center;
}

@media screen and (max-width:768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
} 
