* {
    font-family: Garamond , Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 50vh;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: #97282c;
    text-align: center;
    padding-top: 5px;
}

h1 {
    font-size: 2.25rem;
    margin: 0 0 0.5 0rem;
    line-height: 1.25;
    padding-top: none
}

div {
    display: block;
}

.align-content-stretch-md {
    align-content: stretch;
  }

  .align-stretch-md {
    align-items: stretch;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .bg-primary {
    background-color: #428f89 !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .main-bgimg {
      background-image: url(../background-img/bckimg1.jpg);
  }

  .result-bgimg{
      background-image: url(../background-img/bckimg2.jpg);
  }

  .min-100-vh {
    min-height: 100vh;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

[class*='col-'] {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.search-bar {
    flex: 0 0 25%;
    background-color: #428f89;
    display: block;
    margin-right: 2%;
    padding-bottom: 66%;
    box-shadow: 0px 5px 15px #3b393a
}

.container {
    display: flex;
}

.search-bar h2 {
    text-align: center;
    color: #484848;
    font-size: 0.8cm;
}

.search-bar form {
    justify-content: center;
    width: 100%;
}
.mb-2 {
    align-content: center;
}

.form-input {
    width: 90%;
    padding: 0.75rem;
    color: #1a1a1a;
    margin: 0.625rem 5%;
    font-size: 1.2rem;
    border: 1px solid #484848;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #3b393a
}

.btn{
    width: 60%;
    display: block;
    text-align: center;
    padding: 00.75rem;
    margin: 00.625rem 20%;
    background-color: #97282c;
    border-radius: 20px;
    font-style: bold;
    font-size: 1.2rem;
    box-shadow: 5px 5px 15px #3b393a
}

.result-container {
    display: flex;
}

.details-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid;
    background-color: grey;
}

#poster-img {
    margin-right: 10px;
}

.search-header{
    margin: 2rem;
    color:#97282c;
    font-size: 1cm;
}

@media screen and (max-width:768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
} 
